
.carre1{ 
    width:110px; 
    height:110px; 
    background-color: red;
}

.carre2{ 
    width:110px; 
    height:110px; 
    background-color: green;
}

.carre3{ 
    width:110px; 
    height:110px; 
    background-color: yellow;
}

.carre4{ 
    width:110px; 
    height:110px; 
    background-color:pink;
}



    