h1{
    float: left;

    color:black;

    font-weight: bold;

    width: 200px;
    height: 70px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    background-color: rgb(226, 248, 103)

  }


h2{

    width: 200px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    background-color: rgb(226, 248, 103);
}


body{
    background-color: grey;
}
